* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    /* overflow: hidden; */
}

body {
    height: 95vh;
    background-color: black;
    color: white;
    padding: 15px;
}

nav {
    height: 55px;
    width: calc(100vw - 30px);
    background-color: rgba(17, 17, 17, 0.5);
    justify-content: space-between;
}

.logo_container {
    background-color: rgba(217, 217, 217, 0.1);
    /* width: 150px; */
    width: 10vw;
    height: 92%;
    border-radius: 5px;
    justify-content: space-evenly;
    font-size: 28px;
    font-weight: bolder;
    color: rgb(9, 85, 108);
}

.logo_container img {
    border-radius: 30px;
    height: 50px;
    width: 50px;
}


.nav_btn_container {
    /* margin: 15px; */
    height: 35px;
    max-width: 60%;
    gap: 30px;
}

.nav_btn {
    all: unset;
    width: 15%;
    height: inherit;
    border-radius: 5px;
    background-color: rgba(139, 106, 154, 0.2);
    color: white;
    cursor: pointer;
}

.icon_container {
    height: inherit;
    width: 35px;
    border-radius: 5px;
    background-color: rgba(17, 17, 17, .7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutme {
    justify-content: center;
}

.nav_btn_text {
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
}

/* #menu_container { */
    /* display: none; */
    /* z-index: 1000; */
    /* border: none; */
/* } */
/*  */
/* .menu_icon_container { */
    /* width: 35px; */
    /* height: 35px; */
    /* background-color: rgba(17, 17, 17, .9); */
/* } */
/*  */
/* .menu_icon { */
    /* height: 25px; */
    /* width: 25px; */
/* } */

main {
    height: 70%;
    padding-top: 20px;
}

.hero {
    /* height: 225px; */
    height: 40%;
    width: calc(100vw - 30px);
    background-color: rgba(17, 17, 17, 1);
    justify-content: space-between;
}

.hero_text {
    margin: 40px;
    width: 63vw;
}

.hero_text> :nth-child(1) {
    /* font-size: 39px; */
    /* You can use vh( view height ) unit for font size realtive to viewing screen  */
    font-size: 5vh;
    font-weight: bolder;
}

.hero_text> :nth-child(2) {
    font-size: 31px;
}

#type_effect {
    margin-left: 30px;
    color: rgba(127, 0, 255, 1);
    font-size: 28px;
    font-weight: 600;
}

.cursor_blink {
    animation: blink 0.75s step-end infinite;
}

@keyframes blink {

    from,
    to {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}


.hero_text> :nth-child(3) {
    margin-top: 20px;
    font-size: 16px;
}

.hero_image {
    height: 100%;
    width: 480px;
    clip-path: polygon(12% 0, 100% 0%, 100% 100%, 0% 100%);
    /*You can use CSS clip-path Maker to clip the photos and stuff*/
}

.hero_image img {
    height: 300px;
    width: inherit;
    object-fit: cover;
}

.projects_section {
    height: 80%;
    width: 100%;
    margin-top: 25px;
    gap: 20px;
    align-items: center;
}

/* .project_details { */
    /* height: 10%; */
    /* width: 10%; */
/* } */

.show_panel {
    height: 100%;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 7fr 1fr 2fr 5fr;
    gap: 15px;
    text-align: center;
}

.leftswipe {
    height: 100%;
    width: 5%;
    /* background-color: grey; */
}

/* .arrow_left { */
/* width: 0; */
/* height: 0; */
/* position: absolute; */
/* border-top: 35px solid transparent; */
/* border-right: 60px solid #555; */
/* border-bottom: 35px solid transparent; */
/* } */

.arrow_left {
    position: relative;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: white;
    background-color: rgba(81, 79, 79, 1);
    /* Main color of the button */
    font-weight: bold;
    font-family: sans-serif;
    clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%, 0% 50%);
    cursor: pointer;
}

.arrow_text_left {
    margin-left: 10px;
}

.rightswipe {
    height: 100%;
    width: 5%;
    /* background-color: grey; */
    flex-direction: column;
}

.arrow_right {
    position: relative;
    width: 70px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: white;
    background-color: rgba(81, 79, 79, 1);
    /* Main color of the button */
    font-weight: bold;
    font-family: sans-serif;
    clip-path: polygon(0% 0%, 0% 0%, 100% 50%, 0% 100%, 0% 50%);
    cursor: pointer;
}

.arrow_text_right {
    margin-right: 10px;
}

.cards_container {
    padding: 10px 30px;
    height: 100%;
    width: 85%;
    /* background-color: rgb(132, 191, 191); */
    overflow: hidden;
    gap: 3%;
}

.cards {
    height: 18vw;
    width: 35vw;
    background-color: #222222;
    /* So, content can overflow easily */
    flex-shrink: 0;
    /* Border design */
    border-radius: 5px;
}

.Projects_redirect_bar {
    height: 100px;
    width: 1080px;
    /* background-color: #2E0E4E; */
}

.prj_rdrct_btns {
    margin: 0 10%;
    padding: 5px 30px;
    border-radius: 50px;
    font-size: 1.5em;
    text-decoration: none;
    color: red;
    background-color: #2E0E4E;
    font-family: "Creepster", system-ui, "Poppins", sans-serif;
}

/* Code for Contact Page */
.copysection {
    height: 100px;
    width: 500px;
    background-color: red;
    gap: 20px;
}

.querysection {
    height: 100px;
    width: 500px;
    background-color: red;
}