.flex{
display: flex;
}
.flex_column{
    display: flex;
    flex-direction: column;
}
.justifycenter{
    justify-content: center;
}
.aligncenter{
    align-items: center;
}
.icon_setter{
   filter: invert(1);
   height: 30px;
   width: 30px;
}