.flex{
display: flex;
}
.flex_column{
    display: flex;
    flex-direction: column;
}
.justifycenter{
    justify-content: center;
}
.justifybetween{
    justify-content: space-between;
}
.justifyevenly{
    justify-content: space-evenly;
}
.aligncenter{
    align-items: center;
}
.icon_setter{
   filter: invert(1);
   height: 25px;
   width: 25px;
}